beautifulsoup4==4.13.4
contractions==0.1.73
google-genai==1.32.0
grpcio-status==1.71.2
h2==4.3.0
ipykernel==6.30.1
langchain-aws==0.2.31
langchain-community==0.3.29
langchain-google-vertexai
langchain-openai==0.3.32
langchain-qdrant==0.2.0
lxml==6.0.0
mypy-boto3-bedrock-runtime==1.40.21
nltk==3.9.1
opik==1.8.42
pip==24.0
scp==0.15.0
sentence-transformers==5.1.0
sshtunnel==0.4.0
vertexai
